

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#logos{
	text-align: right;
	padding: 25px 0px;
	height: 120px;
}

#logo-principal{
	background-color: #EFEFEF;
	padding: 10px 0px;
}

.article-seccion{
	padding: 0px 0px 0px;
	background-color: #F7F7F7;
}

.article-seccion .header-article h2{
	color: #B99867;
	text-transform: uppercase;
	padding-left: 30px;
	padding-top: 40px;
	padding-bottom: 20px;
}


.article-seccion .content-article p{
	text-align: left;
	padding: 20px 80px 0px 30px;
}

.bloque-logo{
	display: inline-block;
	vertical-align: top;
	width: 33%;
}

.background-negro, #myModal .modal-dialog .modal-content{
	background-color: #294057;
	color: white;
}

.container-modal-img{
	background-color: white; 
	padding: 10px;
}

.contenido-modal p{
	padding: 80px 10px;
	font-size: 34px;
	font-style: italic;
}

.contenido-modal select{
	color: #B99867;
	text-transform: uppercase;
	height: 40px;
	background-color: transparent !important;
	border: none;
	font-size: 30px;
}

.navbar{
	padding: 10px;
}

.imagen-seccion img{
	width: 100%;
}

.logos{
	display: inline-block;
	vertical-align: top;
	margin-left: 30px; 
	max-height: 100%;
}

.logos-marcas{
	padding: 10px 0px;
}

.logos-marcas .help{
	padding: 20px 0px 10px;
	color: #BBBBBB;
	font-size: 14px;
}

.logos-marcas a{
	text-decoration: none;
}

.texto-central{
	padding: 50px;
	font-size: 18px;
	color: white;
}

.texto-central .texto-color-marron{
	color: #AE9065;
	font-size: 24px;
	font-style: italic;
}

.modal-logo{
	max-height: 500px;
}

ul.redes-sociales{
	margin: 0px;
}

ul.redes-sociales li{
	list-style: none;
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	font-size: 30px;
	color: #42596C;
}

ul.redes-sociales li a{
	text-decoration: none;
}

header.title-section h2{
	text-transform: uppercase;
	color: #42596C;
}

header.title-section p.help{
	color: #BBBBBB;
	font-size: 16px;
}













